<div class="row">
  <div class="col-xs-6">
    <p>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a ng-click="changeQueryType('name')">Name</a></li>
            <li><a ng-click="changeQueryType('budget')">Budget</a></li>
          </ul>
        </div>
        <input type="text" class="form-control" ng-model="q" ng-change="changeQuery()">
      </div>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Budget</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in projects | filter: query">
          <td>{{ project.name }}</td>
          <td>{{ project.budget }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
